
/*hotel discription*/
.container-part
{
  padding: 6px 12px;
}
.hotel_row
{
  padding: 3px;
}
.img_hot
{
  height: 20px;
  width: 20px;
  border-radius: 50%;

}
.hotel_img
{
  display: inline-block;
  height: 230px;
  width: 370px;
  text-align: justify-all;
}
.hotel_discription
{
  display: inline-block;
  position: absolute;
  height: 230px;
  width: 836px;
  text-align: justify-all;
}

.hotel_icon
{
  padding-left: 12px;
  text-align: justify-all;
  font-family: 'Averia Serif Libre',sans-serif;
  font-size: 15px;

}



/* buttun style*/
.butn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.butn:hover {
  background-color: #ddd;
}

/*grid and list */

.column {
  float: left;
  width: 100%;
  height:250px;
  padding: 10px;
  margin-left: 13px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
}
.google
{
	color:black;
	font-family: 'Averia Serif Libre',sans-serif;
}

.secret_div
{
	display: none;
	width: 100%;
	margin-top: 0px;
}